CRYPT_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ATLANTIS_BITBUCKET_USER=
ATLANTIS_BITBUCKET_TOKEN=
ATLANTIS_REPO_ALLOWLIST=
ATLANTIS_ATLANTIS_URL=http://localhost:4141
ATLANTIS_LOG_LEVEL=DEBUG
ATLANTIS_ALLOW_COMMANDS='version,plan,apply,unlock,approve_policies'
# ATLANTIS_CONFIG=/home/atlantis/repos.yaml
